<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>
        <g:layoutTitle default="Memsource"/>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <asset:link rel="icon" href="favicon.ico" type="image/x-ico"/>

    <asset:stylesheet src="application.css"/>

    <g:layoutHead/>
</head>

<body>

<tmpl:/layouts/header />

<tmpl:/layouts/alerts />

<div id="container-content" class="container my-4" role="main">
    <g:layoutBody/>
</div>

<asset:javascript src="application.js"/>
<asset:deferredScripts/>

</body>
</html>
