/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require mobile
*= require spinner
*= require_self
*/

table {
    margin: 30px 0;
    width: 80%
}

.badge-lang {
    color: white;
}

.badge-status {
    color: white;
    background: grey;
}

.badge-status-NEW {
    background: green;
}

.badge-status-ASSIGNED {
    background: orange;
}

.badge-status-COMPLETED {
    background: red;
}

